.enunciado{
	display: inline;
}

.item-enunciado {
	font-size: 1.5em;
}

input[type=text]{
	font-size: 1em;

}

.item-alternativa {
	list-style-type: lower-alpha;
}

.removerItem{
	opacity: 0.1;
}

.removerItem:hover{
	opacity: 1;
}

.adicionarAlternativa{
	opacity: 0.1;
}

.adicionarAlternativa:hover{
	opacity: 1;
}

#adicionarQuestao{
	opacity: 0.1;
}

#adicionarQuestao:hover{
	opacity: 1;
}

